* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size:20px;
    --h2-color: rgba(55, 207, 253, 0.562);
    --background-color: rgb(235, 235, 235);
    --text-color: black;
}

h2 {
    color: var(--h2-color);
    
}

img {
    display: block;
    width: 100%;
}