* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size:20px;
    --h2-color: rgb(7, 97, 170);
    --background-color: rgb(241, 241, 241);
    --text-color: black;
    --select-bottom-color: rgb(166, 208, 255);
}

h2 {
    color: var(--h2-color);
    
}

img {
    display: block;
    width: 100%;
}

.container {
    margin: 0 100px;
}

