.header {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
   
}

.nav-bar {
    

}