.header {
    background-color: var(--background-color);
    padding: 10px;
    margin: 20px;
}

.header-img {
    width: 100px;
    height: 100px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}