.main  {
    margin: 20px 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:25px;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1%;

}

.button-select {
    margin: 15px 0;
    padding: 5px 20px;
    background-color: var (--background-color);
}

.name-of-card {
    background-color: var(--background-color);
    padding: 15px 0;
    width: 100%;
}

